# Java build
bin/
build/
out/
target/
*.class

# ANTLR generated
*.interp
*.tokens
parser/
*Lexer.java
*Parser.java
*Listener.java
*BaseListener.java
MiniJavaVisitor.java
MiniJavaBaseVisitor.java

# Eclipse
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp